body{
    background-color: rgb(241, 224, 199);
    /* display: flex;
    flex-direction: column; */
}
.hide {
    display: none;
}
.breed-select{
    width: 300px;
    height: 50px;
    font-size: 28px;
    background-color: antiquewhite;
    border-color: rgb(124, 120, 120);
    border-radius: 10px;
    border-width: 2px;
    color:rgb(79, 75, 75);
}
/* .breed-select:active{
    border-color: rgb(124, 120, 120);
} */
.cat-info{
    display: flex;
    margin: 20px;

}
.catImg{
    width: 400px;
    padding-right: 20px;
}
.information{
    width: 50%;
}
.text{
    font-weight: normal;
    font-size: 16px;
}

.loader.hide{
    display: none;
}
.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-top: 15px;
    margin-left: 30px;
    position: relative;
    color: (79, 75, 75);
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
    0% {
        box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    12% {
        box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    25% {
        box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    36% {
        box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
    }

    62% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
    }

    75% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
    }

    87% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
    }

    100% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
}